<div class="row" id="about_container">
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-6">
		<img alt="Adam Cronan Photo" id="adam" src="app/images/adam.jpg" width="400px" height="400px">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="about_info">
		<div id="block1">
		</div>
		<h3 class="bold_sentence" id="sentence1"> I fell in love with programming my senior year of college. </h3>
		<h4 id="body_info">
		I had never worked with computers before, but began learning HTML and CSS. This sparked my interest, and I followed with Javascript. I worked math problems posted on Project Euler to see how efficient I could make my algorithms. I began working with a friend doing simple Javascript projects, which then led to an apprenticeship. Here I was introduced to Python, JSON, and XML, and how they work together. I followed this by learning to code with C++, and continued working on math problems.
		<br>
		<br>
		Since then my desire to learn code has only been increasing; I've developed websites, taken computer science courses, and read books. I've spent countless hours staring at a computer screen figuring out problems, and through it all I have learned to pay attention to the details and be patient (also to be a pro Google-er). I am excited for any opportunity for growth that comes my way.  
		</h4>
		<h3 class="bold_sentence">
		Coding is what I love to do. 
		</h3>
	</div>
</div>
