<nav id="navbar">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
			<a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> Home </a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
			<a routerLink="/about" routerLinkActive="active-link"> About </a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
			<a routerLink="/resume" routerLinkActive="active-link"> Resume </a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
			<a routerLink="/contact" routerLinkActive="active-link"> Contact </a>
		</div>
	</div>
</nav>	



