<div id="resume_container">
	<h4 id="resume_header">Development Experience</h4>
	<div id="jtv_container">
		<div id="block1">
		</div>
		<h4 class="exp_header"> Web Development Intern | Jewelry Television </h4>
		<ul>
			<li> Improving JTV.com SEO using 'Schema.org' templates </li>
			<li> Visual Studio/C# code debugging </li>
			<li> Experience with JavaScript and Angular2 </li>
			<li> Managing JTV site under DemandWare e-Commerce platform </li>
		</ul>
	</div>
	<div id="mmm_container">
	<div id="block2">
	</div>
		<h4 class="exp_header"> Web Development Apprentice | MakeMeModern </h4>
		<ul>
			<li> Helping in development of program integrating Python, JavaScript, JSON, and HTML to scrape through public property records and return relevant results in a formatted and readable table </li>
			<li> Organizing project using GIT version control </li>
			<li> Lead website developer for social media application -
			<a id="tale" href="www.thetaleapp.com"> thetaleapp.com </a> </li>
		</ul>
	</div>
</div>

